/* -------------------------------------------------------------------------
                                fonts
---------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* -------------------------------------------------------------------------
                                Normalize CSS
---------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img{
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

main {
    
}


/* ------------------------------
        utilities css 
--------------------------------- */
.container {
    max-width: 1163px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
